body{
    margin: 0;
    padding: 0;
    background-color: #28231D;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
@font-face{
    font-family: gameft;
    src:url(/font/Game\ of\ Thrones.ttf)
}
@font-face{
    font-family: bebas;
    src: url(font/BebasNeue-Regular.ttf);
}
@font-face{
    font-family: alt;
    src: url(font/Analogist.ttf);
}
.main{
    position: relative;
    width: 100%;
    height: 600px;
    /* overflow: hidden; */
}
.nav{
    width: 100%;
    height: 50px;
    position: fixed;
    /* background-color: black; */
    top:0;
    display: flex;
    /* position: absolute; */
    /* position: fixed; */
    z-index: 5;
}
.nav .logo{
    width: 10%;
    justify-content: flex-start !important;
}
.nav .logo img{
    width: 100%;
    margin-top: -15px;
}
.nav .item-log{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}
.item-log a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.item input{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    visibility: hidden;
}
.item .input{
    width: 500px;
    height: 20px;
    background-color: white;
}
.input .bi{
    color: white;
}
.dropdown img{
    width: 39px;
    border-radius: 10px;
}
.dropdown-menu{
    background-color: #28231D;
    border: 2px white solid;
}
.dropdown-menu a{
    color: white;
}
.front-image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    /* overflow: hidden; */
    /* position: fixed; */
}
.front-image img{
    width: 100%;
    height: 100%;
}
.main .content{
    width: 100%;
    height: 400px;
    margin-left: 30px;
    margin-top: -60px;
    /* margin-bottom: 145px; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    position: absolute;
    z-index: 2;
    /* position: fixed; */
}
.background{
    width: 100%;
    /* height: 700px; */
    height: 100%;
    /* background-color: #28231D; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.598) 20%,rgba(0, 0, 0, 0.064));
    position: absolute;
    z-index: 1;
    /* position: scroll; */
}
.content img{
    width: 40%;
    height: auto;
    /* margin-bottom: 145px; */
}
.main .c-item{
    width: 50%;
    height: 30px;
    /* padding-bottom: 100px; */
    /* margin-top: -45px; */
    /* margin-bottom: 90px; */
    /* display: flex;
    justify-content: space-evenly; */
    position: absolute;
    z-index: 4;
}
.first{
    margin-top: 280px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
}
.main .first h5{
    color: goldenrod;
    stroke: #28231D;
    font-weight: 400;
    font-family: alt;
}
.first span{
    margin-left: -100px;
}
.genre a{
    color: white;
    background-color: #28231D;
    font-family: bebas;
    font-size: large;
    text-decoration: none;
    border: .5px solid  rgb(172, 168, 168);
    padding: 0 4px;
    border-radius: 5px;
}
.fx a{
    background-color: black;
    font-family: bebas;
    font-size: large;
    text-decoration: none;
    color: white;
    border: .5px solid white;
    padding: 0 4px;
    border-radius: 5px;
}
.second{
    margin-top: 10px;
    margin-left: 70px;
}
.second p{
    width: fit-content;
    font-family: 'PT Mono', monospace;
    color: whitesmoke;
    font-size: medium;
}
.third{
    width: auto;
    margin-top: 10px;
    margin-left: 70px;
}
.third p{
    padding: 2px;
    color: silver;
    font-style: italic;
    line-height: 1px;
    /* margin-top: 50px; */
}
.bus{
    width: 50%;
    height: 30px;
    position: absolute;
    z-index: 4;
    margin-top: 500px;
    margin-left: 90px;
    display: flex;
}
.bus .dropdown .dropdown-menu{
    background-color: red;
    border: 1px black solid;
     border-collapse: collapse;
}
/* .myl{
    width: 100%;
    height: auto;
} */
/* .bus .button{
    width: 40%;
    position: absolute;
    z-index: 4;
} */
.bus .btn{
    height: fit-content;
    margin-left: 10px;
    border: 2px grey solid;
    background-color: grey;
}
.bus .btn a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    justify-content: space-between;
    font-style: normal !important;
}
.bus .btn:hover{
    background-color: #E50914;
    color: black;
    border: 2px #E50914 solid;
}
.main .shadow{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(1,1,1,1),rgba(29,25,25,0.7),rgba(30,27,27,0));
}
                                        /* CARD */

.crd{
    background-color: black;
    width: 100%;
    height: 299px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* position:absolute; */
}
.head-box{
    margin-left: 10px;
}
.head-box h3{
    text-align: left;
    font-size: large;
    font-weight: 300;
    color: white;
}
.card-roll{
    width: 100%;
    height: 250px;
    display: flex;
    margin-top: -10px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.card{
    min-width: 200px;
    height: 250px;
    margin: 10px;
}
.card-img{
    width: 100%;
    height: 250px;
}
.card .card-img-overlay{
    width: fit-content;
    height: 50px;
    display:block;
}
.card-img-overlay .card-title, .card-text{
    width: fit-content;
}
h5, p{
    font-size: small;
}
                                        /* new releases */
.new-crd{
        background-color: black;
        width: 100%;
        height: 350px;
        margin-top: -10px;
        /* display: flex; */
        /* justify-content: flex-start; */
        /* position:absolute; */
    }
.card-roller{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: -10px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.card-roller .card{
    min-width: 250px;
    height: 300px;
    margin: 10px;
}
.icard-img{
    width: 100%;
    height: 300px;
}
                                                    /* TOP MOVIES */
.top-crd{
        background-color: black;
        width: 100%;
        height: 350px;
        margin-top: -10px;
}
.card-rolle{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: -10px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.card-rolle .card{
    min-width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
}
.card-imge{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
                                                /* TOP PICKS */
.pick-crd{
    background-color: black;
    width: 100%;
    height: 350px;
    margin-top: -10px;
}
.card-role{
width: 100%;
height: 300px;
display: flex;
margin-top: -10px;
display: flex;
overflow-y: hidden;
overflow-x: scroll;
}
.card-role .card{
min-width: 250px;
height: 300px;
margin: 10px;
border-radius: 5px;
}
.card-im{
width: 100%;
height: 300px;
border-radius: 5px;
}

