body{
    margin: 0;
    padding: 0;
    background-color: #28231D;
    font-family: 'Work Sans', sans-serif;
}
@font-face{
    font-family: gameft;
    src:url(/font/Game\ of\ Thrones.ttf)
}
@font-face{
    font-family: bebas;
    src: url(font/BebasNeue-Regular.ttf);
}
@font-face{
    font-family: alt;
    src: url(font/Analogist.ttf);
}
.main{
    position: relative;
    /* overflow: hidden; */
}
.nav{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    /* position: absolute; */
    /* position: fixed; */
    z-index: 5;
}
.nav .logo{
    width: 10%;
    justify-content: flex-start !important;
}
.nav .logo img{
    width: 100%;
    margin-top: -15px;
}
.nav .item-log{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-log a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.dropdown img{
    width: 39px;
    border-radius: 10px;
}
.dropdown-menu{
    background-color: #28231D;
    border: 2px red solid;
}
.dropdown-menu a{
    color: white;
}
.front-image{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    /* position: fixed; */
}
.front-image img{
    width: 100%;
    height: 100%;
}
.main .content{
    width: 100%;
    height: 400px;
    margin-left: 30px;
    margin-top: -60px;
    /* margin-bottom: 145px; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    position: absolute;
    z-index: 2;
    /* position: fixed; */
}
.background{
    width: 100%;
    height: 700px;
    /* background-color: #28231D; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.598) 20%,rgba(0, 0, 0, 0.064));
    position: absolute;
    z-index: 1;
    /* position: fixed; */
}
.content img{
    width: 40%;
    height: auto;
    /* margin-bottom: 145px; */
}
.main .c-item{
    width: 50%;
    height: 30px;
    /* padding-bottom: 100px; */
    /* margin-top: -45px; */
    /* margin-bottom: 90px; */
    /* display: flex;
    justify-content: space-evenly; */
    position: absolute;
    z-index: 4;
}
.first{
    margin-top: 280px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
}
.main .first h5{
    color: silver;
    font-weight: 300;
    font-family: alt;
}
.first span{
    margin-left: -45px;
}
.fx a{
    background-color: black;
    font-family: bebas;
    font-size: large;
    text-decoration: none;
    color: white;
    border: .5px solid white;
    padding: 0 4px;
    border-radius: 5px;
}
.second{
    margin-top: 10px;
    margin-left: 70px;
}
.second p{
    width: fit-content;
    font-family: 'PT Mono', monospace;
    color: whitesmoke;
    font-size: medium;
}
.third{
    width: auto;
    margin-top: 10px;
    margin-left: 70px;
}
.third p{
    padding: 2px;
    color: silver;
    font-style: italic;
    line-height: 1px;
    /* margin-top: 50px; */
}

